<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsg.helper">

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.Ot"-->
<!--        android:largeHeap="true">-->

<!--        &lt;!&ndash;Imagen Editor&ndash;&gt;-->
<!--        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorActivity" />-->
<!--        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorStickerActivity" />-->
<!--        <activity-->
<!--            android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorTextActivity"-->
<!--            android:windowSoftInputMode="adjustPan" />-->
<!--        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorCropActivity" />-->
<!--        <activity android:name="com.dsphotoeditor.sdk.activity.DsPhotoEditorDrawActivity" />-->
<!--        -->
<!--    </application>-->
</manifest>